*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: #F0F1F4;
}
.container {
  background-color: #F0F1F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  padding-top: 40px;
}

.header img.wagon {
  margin-left: 30px;
}
.align {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
h1 {
  font: normal normal bold 56px/60px Work Sans;
  letter-spacing: -0.67px;
  color: #1E1F22;
  max-width: 530px;
  }

h1 span {
  color: #F05F5D;
  }

.formz {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 24px;
  top: 256px;
  left: 415px;
  width: 451px;
  height: 60%;
  padding: 5px 5px;
  padding-bottom: 30px;
  margin: auto;
  margin-bottom: 50px;

  }
form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-of-form {
font: normal normal 600 24px/30px Work Sans;
letter-spacing: 0px;
text-align: left;
max-width: 390px;
margin: auto;
padding-bottom: 10px;
padding-top: 20px;
letter-spacing: 0px;
color: #1E1F22;
opacity: 1;
}

.align-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: auto;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputs-email{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -18px;
}

.selects {
display: flex;
flex-direction: column;
justify-content: center;

}
label{
  margin-left: 0px;
}
input[type="text"],
input[type="email"],select {
  width: 387px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #ECEDF2;
  border-radius: 12px;
  margin: auto;
  padding-left: 10px;
  margin-top: -10px;
}
input[type="checkbox"] {
  margin-left: 10px;
  color: #F0F1F4;
}


#accurate {
  width: 16px;
  height: 16px;
  border: 2px solid #ECEDF2;
  border-radius: 5px;
  padding-left: 20px;
  margin-right: 17px;

}
.checkboxz {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 70px;

  }

  input[type="submit"] {
    background: #F05F5D 0% 0% no-repeat padding-box;
    border-radius: 12px;
    border: none;
    top: 653px;
    left: 447px;
    width: 387px;
    height: 54px;
    text-align: center;
    font: normal normal 600 16px/28px Work Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    cursor: pointer;
  }
  .buttonz {
    display: block;
    margin: auto;
  }

  .hidden {
    display: none;
  }
  #confirmation {
  text-align: center;
  font: normal normal 600 24px/30px Work Sans;
  letter-spacing: 0px;
  padding-top: 25px;
  }
  #confirmation h2 {
    color: #1C9D75;
  }
